@font-face {
    font-family: 'Gotham';
    src: local('assets/fonts/Gotham-Book'),
        url('assets/fonts/Gotham-Book.woff2') format('woff2'),
        url('assets/fonts/Gotham-Book.woff') format('woff'),
        url('assets/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: local('assets/fonts/Gotham-Medium'),
        url('assets/fonts/Gotham-Medium.woff2') format('woff2'),
        url('assets/fonts/Gotham-Medium.woff') format('woff'),
        url('assets/fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: local('assets/fonts/Gotham-Black'),
        url('assets/fonts/Gotham-Black.woff2') format('woff2'),
        url('assets/fonts/Gotham-Black.woff') format('woff'),
        url('assets/fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: local('assets/fonts/Gotham-BookItalic'),
        url('assets/fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('assets/fonts/Gotham-BookItalic.woff') format('woff'),
        url('assets/fonts/Gotham-BookItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}


* {
    box-sizing: border-box;
}

/* TYPOGRAPHY *****************************************
***************************************************/

html {
    font-size: 16px;
}

body {  
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    margin: 0;
}

p {
    line-height: 130%;
}

a {
    display: inline-block;
    text-decoration: none;
}

.body-text__opacity {
    opacity: 0.9;
}

.body-text__large {
    font-size: 28px;
    margin-bottom: 2rem;
}

li {
    list-style: none;
}

h1 {
    font-size: 58px;
    color: white;
    margin-bottom: 0.6em;
}

h2 {
    font-size: 36px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
}

h4 {
    font-weight: 400; 
    font-size: 22px;
}

.title--navy {
    color: #1c0c3a;
    font-size: 48px;
    margin-bottom: 2rem;
}

@media all and (max-width: 376px) {
    h1 {
        font-size: 42px;
    }
    .body-text__large {
        font-size: 26px;
    }
    .title--navy {
        font-size: 38px;
    }
}

/* BUTTON *****************************************
***************************************************/


.button {
    border: 2px solid;
    border-radius: 50px;
    padding: 15px 75px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.button--small {
    padding: 5px 14px;
    font-size: 11px;
    color: #0099d9
}

.button--red {
    color: #fa5c1c;
    margin-top: 2rem;
}

.button--black {
    color: #4c565b;
    margin: 2rem 0;
}

ul {
    padding: 0;
}

.line {
    height: 2px;
    background-color: white;
    width: 60%;
    margin: auto;
}

.line__long {
    width: 100%;
    margin-bottom: 2rem;
}

.line__small {
    height: 1px;
    background-color: #4c565b;
    margin-bottom: 0;
}

.container {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
}


/* HEADER *****************************************
***************************************************/

.navBar {
  background-color: white;
  font-size: 14px;
}

.logo {
display: inline-block;
margin: 0.8em 0;
}

.logo img {
    height: 30px;
    margin-right: auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 2%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 75%;
}
nav ul a {
  display: block;
  text-decoration: none;
}

nav ul a:hover {
    border-bottom: 2px solid #0099d8;
    padding-bottom: 4px;
  }

nav li {
  display: inline-block;
}
nav #menu-toggle {
  display: none;
}
nav .label-toggle {
  display: none;
}

nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
    nav ul a {
    color: #262628;
    width: 50%;
    margin: auto;
    }
  nav ul {
    background-color: white;
    margin: 0;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    width: 100%;
    visibility: hidden;
    padding: 0;
  }
  .logo img {
    height: 45px;
    margin-right: auto;
    }
  nav li {
    border-bottom: 1px solid #53354A;
    color: #262628;
    display: block;
    font-size: 1em;
    padding: 1.5em 0;
  }
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100%;
    visibility: visible;
  }
  nav .label-toggle {
    background: linear-gradient(to bottom, #262628 0%, #262628 20%, transparent 20%, transparent 40%, #262628 40%, #262628 60%, transparent 60%, transparent 80%, #262628 80%, #262628 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 2em;
    width: 35px;
  }
  nav .wrapper {
    display: block;
  }
}


/* HERO *****************************************
***************************************************/

.hero-section {
    background-color: #00c2d6;
    background-image: url(http://localhost:3000/assets/header_image_pattern.png);
    background-repeat: no-repeat;
    background-position: 4px -200px;
    background-size: 44%; 
    position: relative;
}

.hero {
    color: white;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
}

.hero__text-container { 
    flex-basis: 45%;
    margin: auto;
    padding-left: 5%;
    margin-top: 50px;
}

.hero__text-container h1 {
    width: 90%;
}

.hero__image-containter {
    margin: auto;
    flex-basis: 55%;
}

.hero__image-containter img {
    max-width: 100%;
    margin: -4px 0;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 40px solid #00c1d6;
    position: absolute;
    bottom: -40px;
}
  }
  

@media all and (max-width: 768px) {
    .hero__image-containter,
    .hero__text-container {
        flex-basis: 100%;
    }
}
@media all and (max-width: 376px) {
    .hero__text-container {
        text-align: center;
        padding: 0 2.5%;
    }
    .hero__text-container h1 {
        margin: 0;
        width: 100%;
    }
}



/* OVERVIEW *****************************************
***************************************************/

.overview-section {
    padding: 2rem 0;
}

.overview-section h2 {
    color: #fa5c1c;
}

.overview-section__text {
    flex-basis: 50%;        
    color: #4d575c;
}

.overview-section__text p {
    width: 80%;
}

.overview__image-container {
    flex-basis: 50%;
}
/********************DELETE********************/
.overview__image-container img {
    max-width: 100%;    
}

@media all and (max-width: 768px) {
    .overview-section__text {
        flex-basis: 100%;
        padding: 5%;
    }
    .overview-section__text p {
        width: 90%;
    }
    .overview__image-container {
        flex-basis: 100%;
    }
}



/* APP *****************************************
***************************************************/


.app-section {
    background-color: #f23d29;
    color: white;
    padding: 5% 0;
}

.app-section h2 {
    color: #fa8c40
}

.app-section__text-container {
    flex-basis: 42.5%;
    padding-left: 5%;
    line-height: 140%;
}

.app-section__image-container {
    margin-top: 70px;
    padding-left: 5%;
    flex-basis: 57.5%;
    position: relative;
}

.app-section__bullet-points {
    margin-bottom: 2rem;
    padding: 0px;
}


/* Slideshow container */
.slideshow-container {
    position: absolute;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    bottom: -50px;
    padding: 0 180px;
    color: white;
    font-weight: bold;
    font-size: 38px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  
  @media all and (max-width: 768px) {
    .app-section__text-container {
        flex-basis: 100%;
    }
    .app-section__text-container p {
        width: 90%;
    }
    .line__long {
        width: 90%;
        margin-left: 0;
    }
    .app-section__image-container {
        flex-basis: 100%;
    }
}

/* APP *****************************************
***************************************************/

.action-section {
background: linear-gradient(to right, #1c0d3b 50%, white 50%);
}


.action-section__image-container {
    flex-basis: 50%;
}

.action-section__image-container  img{
    width: 100%;
    height: 99%;
    object-fit: cover;
    overflow: hidden;
}


.action-section__text-container {
    flex-basis: 50%;
    padding: 2% 8%;
}

.action-section__text-container h2  {
    color: #00ded9;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom:1px solid #4c565b;
    font-size: 16px;
  }

  .accordion__icon {
      width: 15px;
      color: #4c565b;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  
@media all and (max-width: 768px) {

        .action-section__image-container {
            flex-basis: 100%;
            background-color: #1c0d3b;
        }
        .action-section__text-container {
            flex-basis: 100%;
            background-color: white;
        }
}

/* BENEFITS *****************************************
***************************************************/

.benefits-section {
    background-color: #00c2d6;
    color: white;
    box-shadow: box-shadow: 0 8px 10px -6px #00000094;
    position: relative;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5% 0;
}

.benefits-section__title {
    flex-basis: 100%;
    text-align: center;
}

.benefits-section__benefits-container {
    flex-basis: 50%;
    text-align: center;
    list-style-type: none;
    margin-bottom: 3rem;
}


.benefits-section__benefits-container img {
    width: 70px;
}

.benefits-section__button {
    margin: auto;
}

.benefits-section__bullets {
    line-height: 200%;
}

.benefits-section__sub-heading {
    margin: 1rem 0;
}

.benefits-section__title h3 {
    font-size: 34px;
    font-weight: 600;
    font-style: italic;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

/* Fade in divs */

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fade-in-element {
  animation: fade-in 1.4s;
}

.hidden {
    opacity: 0;
  }

  
@media all and (max-width: 768px) {
    .benefits-section__title h3 {
        width: 75%;
    }
    .line {
        width: 40%;
    }
}

@media all and (max-width: 376px) {
    .benefits-section__title h3 {
        width: 90%;
        font-size: 26px;
        margin-bottom: 4rem;
    }
    .benefits-section__benefits-container {
       flex-basis: 100%; 
    }
    .slideshow-container {
        max-width: 55.9%;
        top: 18.2px;
        right: 88px;
    }
}




/* FOOTER *****************************************
***************************************************/


footer {
    background-color: #f2f2f2;
    z-index: 0;
    padding: 3rem 0 1.5rem 0;
    color: #4c565b;
}

footer p,
footer ul {
    margin: 0;
}

.footer__logo {
    flex-grow: 3;
}

address { 
    font-style: normal;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 100%;

}

footer div {
    font-size: 10px;
    width: 100%;
}

.terms-conditions {
    font-size: 8px;
}